@import 'assets/css/styles';

.site-header {
	@include transition();
	@include width-full();
	background: palette(primary, white);
	border-top: 6px solid palette(primary, b);
	position: sticky;
	top: 0;

	.has-js & {
		z-index:index($z-index, 'site-header');
	}

	.is-scrolled & {
		box-shadow: 0 0 5px palette(primary, bodyText);
	}

	&__wrap {
		// @include padding-y-sm();
		@include transition();
		align-items: center;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		
		@include media(tablet-p) {
		    @include padding-y-lg();
			flex-direction: row;
			justify-content: left;
			
			.is-scrolled & {
				@include padding-y-sm();
			}
			
		}
		
	}

	&__strap {
		@include no-margin();
		@include text-center();
		@include uppercase();

		@include media(tablet-p) {
		    @include text-left();
		}
		
		span:nth-of-type(2) {
			@include strong();
			color: palette(primary, b);
			display: block;
			
			@include media(tablet-p) {
			    display: inline;
			}
			
		}

	}

}
