@import 'assets/css/styles';

.site-header {
	@include transition();
	@include width-full();
	background: palette(primary, white);
	border-top: 6px solid palette(primary, b);
	position: sticky;
	top: 0;
}

.has-js .site-header {
	z-index:index($z-index, 'site-header');
}

.is-scrolled .site-header {
	box-shadow: 0 0 5px palette(primary, bodyText);
}

.site-header__wrap {
	@include padding-y();
	@include transition();
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	
	@include media(tablet-p) {
	    @include padding-y-lg();
		flex-direction: row;
		justify-content: left;
	}
	
}

.site-header__strap {
	@include no-margin();
	@include text-center();
	@include uppercase();
	color: rgba(palette(primary, bodyText), .65);
	letter-spacing: rem($base-font-size * 0.05);
	line-height: rem($base-font-size * 1.4);
	
	@include media(tablet-p) {
	    @include text-left();
	}
	
	span:nth-of-type(2) {
		@include strong();
		color: palette(primary, bodyText);
		display: block;
		font-size: rem($base-font-size);
		
		@include media(tablet-p) {
		    display: inline;
		}
		
	}

}
