@import 'assets/css/styles';

.site-footer {
	@include padding-y();
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	@include media(tablet-p) {
	    flex-direction: row;
	}
	
}

.site-footer__copyright {
	@include no-margin();
	@include text-center();
	color: rgba(palette(primary, bodyText), .35);
	
	@include media(tablet-p) {
	    align-self: flex-end;
	}
	
}