@import 'assets/css/styles';

.banner__outer {
	@include margin-b();
}

.banner {
	display: flex;
	flex-direction: column;
	
	@include media(tablet-p) {
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
	}
	
}

.banner__primary,
.banner__secondary {
	@include width-full();
}

.banner__primary {
	@include text-center();
	background: url('../../../assets/imgs/double-quotations.svg') 0 0 no-repeat;
	background-size: 100px auto;
	
	@include media(tablet-p) {
		@include padding();
		@include text-left();
	}
	@include media(tablet-l) {
		width: calc(100% / 3 * 2);
	}
	
}

.banner__secondary {

	@include media(tablet-p) {
		@include padding-l();
		width: calc(100% / 4 * 1);
	}
		
}

.banner__title {
	@include h6();
	@include no-margin();
	opacity: 0.75;
	
	@include media(tablet-p) {
		@include h3();
		@include no-margin();
	}
	
	@include media(tablet-l) {
	    @include h2();
		@include no-margin();
	}
	
}

.banner__img {
	@include box-shadow();
	@include circle();
	@include visually-hidden();
	border: 3px solid #fff;

	@include media(tablet-p) {
	    @include visually-shown();
		height: 240px;
		width: auto;
	}

}