@import 'assets/css/styles';

.banner {
	@include border-b();
	@include margin-b();
	@include padding-y();
	@include width-full();
	display: flex;
	flex-direction: column;
	
	@include media(tablet-l) {
		flex-direction: row;
	}
	
}

.banner__primary,
.banner__secondary {
	@include width-full();
}

.banner__primary {
	
	@include media(tablet-l) {
		@include padding-r();
		width: calc(100% / 3 * 2);
	}

}

.banner__secondary {

	@include media(tablet-l) {
		@include padding-l();
		width: calc(100% / 3 * 1);
	}
		
}

.banner__title {
	@include h5();
	
	@include media(tablet-p) {
	    @include h2();
	}
	
}

.banner__img {
	@include box-shadow();
	@include circle();
	@include margin-b();
	border: 3px solid #fff;
}