@import 'assets/css/styles';

.external-links {
	@include padding-t();
	display: flex;
	justify-content: space-around;
	list-style: none;
	
	@include media(tablet-p) {
	    flex-direction: column;
	}
	
}

.external-links__item {
	display: inline;
	
	@include media(tablet-p) {
		
	    display: block;
	}
	
}

.external-links__item:not(:last-of-type) {
	@include margin-b();
}

.external-links__link {
	@include transition();
	filter: grayscale(1);
	font-size: rem($base-font-size * 2);
	opacity: 0.75;
	
	&:focus,
	&:hover {
		filter: grayscale(0);
		opacity: 1;
	}
	
	@include media(tablet-p) {
		display: block;
	}
	
}

.external-links__link-text {
	@include margin-l();
	@include strong();
	@include visually-hidden();
	font-size: rem($base-font-size);
	vertical-align: middle;
	
	@include media(tablet-p) {
	    @include visually-shown();
	}
	
}