@import 'assets/css/styles';

.portfolio {
	display: flex;
	flex-wrap: wrap;
}

.item {
	@include padding-b();

	@include media(tablet-p) {
		@include width-half();
	}

	@include media(tablet-l) {
		@include width-third();
	}
	
}

.item__img {
	
	img {
		@include margin-b-xsm();
		@include width-full();
		height: auto;
		opacity: 0.5;
	}

}

.item__info {
	
	&:after {
		@include margin-b();
		content: '';
		display: block;
		border-bottom: 1px solid palette(primary, b);
		width: 10%;
	}
	
}

.item__title {
	@include no-margin();
	@include padding-b-sm();
	@include strong();
	@include uppercase();
	color: palette(primary, black);
	font-size: rem($base-font-size);
}

.item__content {
	@include padding-y();
	display: flex;
	flex-direction: column;
}

.item__made-with {
	@include no-margin();
	@include padding-b();
	list-style: none;
	
	li {
		@include margin-b-xsm();
		color: rgba(palette(primary, bodyText), .75);
		display: inline-block;

		&:not(:last-of-type) {
			@include margin-r-xsm();
			
			&:after {
				content: ',';
			}
			
		}

	}

}

.item__links {
	@include padding-y-xsm();
	
	@include media(tablet-p) {
		display: flex;
	}
	
}

.item__link {
	@include margin-r();
	
	@include media(tablet-p) {

		&:last-of-type {
			margin-right: 0;
		}
	
	}
	
}