@import 'assets/css/styles';

.portfolio {
	display: flex;
	flex-wrap: wrap;
}

.item {
	@include padding-b();

	@include media(tablet-p) {
		@include width-half();
	}

	@include media(tablet-l) {
		@include width-third();
	}
	
}

.item__img {

	@include media(tablet-p) {
		@include padding-x-sm();
	}

	img {
		@include margin-b-xsm();
		@include width-full();
		height:auto;
		opacity: 0.5;
	}

}

.item__info {
	
	&:after {
		@include margin-b();
		content: '';
		display: block;
		border-bottom: 1px solid palette(primary, b);
		width: 10%;
	}
	
}

.item__title {
	@include h5();
	@include no-margin();
	@include padding-b();
	@include strong();
	@include uppercase();
}

.item__title-link {
	color: palette(primary, bodyText);
	@include strong();
	text-decoration: none;
}

.item__content {
	@include padding-x-xsm();

	@include media(tablet-p) {
		@include padding-x-sm();
	}

}

.item__made-with {
	@include no-margin();
	@include padding-b();
	list-style: none;
	
	li {
		// @include ;
		color: lighten(palette(primary, bodyText), 10%);
		display: inline;

		&:not(:last-of-type):after {
			content: ', ';
		}

	}

}

.item__links {
	@include padding-t-xsm();
	display: flex;
	justify-content: space-between;

	a {
		@include margin-r-sm();
		display: inline-block;
		width: 50%;

		&:last-of-type {
			margin-right: 0;
		}
		
	}

}
