@import 'assets/css/styles';

.site-logo {
	@include margin-r-sm();
	@include margin-b-sm();
	@include transition();
	height: 40px;

	@include media(tab-p) {
		height: auto;
	}

}

.site-logo--header {
	@include transition();

	@include media(phone-p, 'max') {
		
		.is-scrolled & {
			@include no-margin();
			height: 0;
		}
	   
	}
	
}